form>div {
    margin-bottom: 2rem;
}

.container {
    width: 50vw;
    margin: auto;
    margin-top: 7rem;
}

.ligrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 5%;
    text-align: center;
}

.title {
    text-align: center;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}